<div class="container login-container" fxLayout="row" fxLayoutAlign="center center">
    <form [formGroup]="loginForm" fxFlex="30%" fxFlex.sm="50%" fxFlex.xs="90%">
        <mat-card>
            <mat-card-title class="text-plain-secondary">Sistema <b>SIRDEV</b></mat-card-title>
            <mat-card-subtitle class="text-color-primary">Inice sesión para continuar</mat-card-subtitle>
            <mat-card-content>

                <mat-form-field class="full-width mt-1" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input id="email" 
                            matInput 
                            formControlName="email" 
                            type="email" 
                            autocomplete="off"
                            name="email">
                    <mat-icon matSuffix>email</mat-icon>
                    <mat-error id="invalidEmailError" *ngIf="email.hasError('email')">
                        Digite un email válido
                    </mat-error>
                    <mat-error id="requiredEmailError" *ngIf="email.hasError('required')">
                        El email es
                        <strong>requerido</strong>
                    </mat-error>
                </mat-form-field>
                
                <mat-form-field class="full-width mt-1" appearance="outline">
                    <mat-label>Contraseña</mat-label>
                    <input id="passwordInput" matInput formControlName="password" type="password"
                    autocomplete="current-password">
                    <mat-error id="requiredPasswordError" *ngIf="email.hasError('required') || email.touched">
                        La contraseña es
                        <strong>requerida</strong>
                    </mat-error>
                </mat-form-field>

                <div class="full-width mt-1">
                    <mat-slide-toggle formControlName="rememberMe" class="text-plain-secondary">Recuerdame el email</mat-slide-toggle>
                </div>

            </mat-card-content>

            <mat-card-actions class="login-actions mb-1">
                <button mat-raised-button 
                        id="login" 
                        class="btn-primary" 
                    (click)="login()">Iniciar sesión</button>
                <button mat-button id="resetPassword" 
                                   (click)="resetPassword()"
                                   class="btn-link-secondary"
                                   type="button">Restablecer contraseña</button>
            </mat-card-actions>

        </mat-card>

    </form>
</div>