<div class="container" fxLayout="row" fxLayoutAlign="center none">
    <div fxFlex="98%">
      <div class="grid">
        <div class="col-12">
          <mat-card>
            <div class="text-color-primary flex justify-content-between">
              <div>
                <h2>Dashboard</h2>
              </div>
              <div class="flex justify-content-center align-items-center">
                <button *ngIf="projectDash" mat-icon-button (click)="openDialogFileReport()">
                  <mat-icon>print</mat-icon>
                </button>
                <button mat-icon-button (click)="dialogSearch()">
                  <mat-icon>search</mat-icon>
                </button>
              </div>
            </div>
            <div *ngIf="projectDash">
              <mat-divider></mat-divider>
              <div class=" text-plain-secondary p-1 mt-3">
                <b class="m-0">CUI:</b>
                <p class="m-0">{{projectDash.cuiProject}}</p>
              </div>
              <div class="text-plain-secondary p-1">
                <b class="m-0">Proyecto:</b>
                <p class="m-0">{{projectDash.titleProject | firstLetter}}</p>
              </div>
              <div class="text-plain-secondary p-1">
                <b class="m-0">Tema:</b>
                <p class="m-0">{{projectDash.event_topic | firstLetter}}</p>
              </div>
              <div class="text-plain-secondary p-1">
                <b class="m-0">Lugar de evento:</b>
                <p class="m-0">{{projectDash.location}}</p>
              </div>
            </div>
          </mat-card>
        </div>
      </div>
      <div class="grid nested-grid">
        <div class="col-6">
          <mat-card>
            <div>
              <div class="flex justify-content-between">
                <h3><b>{{g1Title}}</b></h3>
                <button mat-icon-button [matMenuTriggerFor]="menuG2">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menuG2="matMenu">
                  <button mat-menu-item (click)="downloadImg('g1')">
                    <mat-icon>download</mat-icon>
                    <span>Descargar imagen</span>
                  </button>
                </mat-menu>
              </div>
              <app-horizontal-bar-chart id="g1" [data]="dataHorizonBarChart"></app-horizontal-bar-chart>
            </div>
          </mat-card>
        </div>
        <div class="col-6">
          <mat-card>
            <div>
              <div class="flex justify-content-between">
                <h3><b>{{g2Title}}</b></h3>
                <button mat-icon-button [matMenuTriggerFor]="menuG1">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menuG1="matMenu">
                  <button mat-menu-item (click)="downloadImg('g2')">
                    <mat-icon>download</mat-icon>
                    <span>Descargar imagen</span>
                  </button>
                </mat-menu>
              </div>
              <app-pie-chart id="g2" [data]="dataPieChart"></app-pie-chart>
            </div>
          </mat-card> 
        </div>
      </div>
      <div class="grid">
        <div class="col-12">
          <mat-card>
            <h3><b>Total de eventos por mes</b></h3>
            <app-vertical-bar-chart [data]="dataVerticalBarChart"></app-vertical-bar-chart>
          </mat-card>
        </div>
      </div>
      <!-- <div class="grid">
        <div class="col-12">
          <mat-card>
            <h3><b>N° de proyectos por año</b></h3>
            <app-vertical-bar-chart [data]="dataVerticalBarChart"></app-vertical-bar-chart>
          </mat-card>
        </div>
      </div> -->
    </div>
  </div>