<div class="container" fxLayout="row" fxLayoutAlign="center none">
    <div fxFlex="98%">
      <mat-accordion>
        <mat-expansion-panel [expanded]="0" hideToggle class="mat-expansion-panel">
          <mat-expansion-panel-header>
            <mat-panel-title class="spacer-flex m-0">
              <h3 class="text-color-primary d-flex">
                <mat-icon>event</mat-icon>
                <p mat-line class="m-1">Evento</p>
              </h3>
              <div class="container-cui" *ngIf="_local.getEvent(); else skeletonCUI">
                <b>ID - </b>{{_local.getEvent().id_event | showNumber}}
              </div>
              <ng-template #skeletonCUI>
                <app-skeleton width="100px"></app-skeleton>
              </ng-template>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-divider></mat-divider>
          <div class="mb-2">
            <mat-card-content>
              <div class="flex grid" *ngIf="_local.getEvent(); else skeletonCard">
                <div class="col-6">
                  <div class="d-flex justify-content-start text-plain-secondary p-2">
                    <b class="m-1">Tema:</b>
                    <p>{{_local.getEvent().event_topic | firstLetter}}</p>
                  </div>
                  <div class="d-flex justify-content-start text-plain-secondary p-2">
                    <b class="m-1">Tipo de evento:</b>
                    <p>{{_local.getEvent().event_type.event_type_name}}</p>
                  </div>
                  <div class="d-flex justify-content-start text-plain-secondary p-2">
                    <b class="m-1"><mat-icon>location_on</mat-icon></b>
                    <p>{{_local.getEvent().event_region}} - {{_local.getEvent().event_provincie}} - {{_local.getEvent().event_district}}</p>
                  </div>
                  <div class="d-flex justify-content-start text-plain-secondary p-2">
                    <b class="m-1"><mat-icon>calendar_month</mat-icon></b>
                    <div class="flex">
                      <div class="chip-1">{{_local.getEvent().event_datetime_start | date:'medium'}}</div>
                      <div class="chip-2 ml-1">{{_local.getEvent().event_datetime_end | date:'medium'}}</div>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="d-flex justify-content-start text-plain-secondary mt-2 mb-2">
                    <b>Facilitadores</b>
                  </div>
                  <div class="container-list-facilitador">
                    <ul class="m-0 p-0">
                      <li *ngFor="let item of _local.getEvent().facilitator_event; let index=index" 
                          class="flex justify-content-between justify-content-center align-items-center">
                        <span class="ml-2">{{item.facilitator!.facilitator_name}} {{item.facilitator!.facilitator_first_name}}</span>
                        <div>
                          <mat-icon class="icon-list-facilitator" (click)="editFacilitator(item)">edit</mat-icon>
                          <mat-icon class="icon-list-facilitator" (click)="deleteFacilitator(item)">delete</mat-icon>
                        </div>
                      </li>
                      <li *ngIf="_local.getEvent().facilitator_event.length===0" 
                          class="flex justify-content-between justify-content-center align-items-center">
                        <span class="ml-2 p-1">Registre facilitadores</span>
                        <div></div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </mat-card-content>
            <ng-template #skeletonCard>
              <div class="d-flex justify-content-start p-2">
                <app-skeleton width="200px"></app-skeleton>
              </div>
              <div class="d-flex justify-content-start p-2">
                <app-skeleton width="300px"></app-skeleton>
              </div>
              <div class="d-flex justify-content-start p-2">
                <app-skeleton width="300px"></app-skeleton>
              </div>
              <div class="p-2">
                <app-skeleton width="100%"></app-skeleton>
                <app-skeleton width="100%"></app-skeleton>
                <app-skeleton width="100%"></app-skeleton>
              </div>
            </ng-template>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h3 class="text-color-primary d-flex">
                <mat-icon>settings</mat-icon>
                <p mat-line class="m-1">Administrar</p>
              </h3>
            </mat-panel-title>
          </mat-expansion-panel-header>
            <div class="mb-2">
              <app-btn-actions-event [event]="event"
                                     (statusFacilitador)="statusFacilitador($event)"
                                     (statusEventFormParticipant)="statusEventFormParticipant($event)"
                                     (statusEvent)="statusEvent($event)"></app-btn-actions-event>
            </div>
        </mat-expansion-panel>
      </mat-accordion>
      <div class="mb-3"></div>
      <mat-card>
          <mat-card-content>
            <div class="spacer-flex">
              <div class="text-plain-secondary">
                <h2>Participantes registrados</h2>
              </div>
              <app-input-search (textSearch)="searchAttendance($event)" placeholder="Buscar por nombre o DNI"></app-input-search>
            </div>
            <table mat-table [dataSource]="dataSource" matSort class="mat-table">
              <!-- index Column -->
              <ng-container matColumnDef="index">
                <th mat-header-cell class="mat-header-cell" *matHeaderCellDef> N° </th>
                <td mat-cell 
                    class="mat-cell" 
                    *matCellDef="let element; let i = index">
                    <div *ngIf="!_loadding.getLoadding(); else skeletonIndex">{{i+1 + startPage}}</div>
                    <ng-template #skeletonIndex>...</ng-template>
                </td>
              </ng-container>
            
              <!-- project cui Column -->
              <ng-container matColumnDef="id_card_participant">
                <th mat-header-cell class="mat-header-cell" *matHeaderCellDef mat-sort-header>DNI</th>
                <td mat-cell class="mat-cell" *matCellDef="let element"> {{element.id_card_participant}} </td>
              </ng-container>

              <!-- project cui Column -->
              <ng-container matColumnDef="participant_name">
                <th mat-header-cell class="mat-header-cell" *matHeaderCellDef mat-sort-header> Nombres y apellidos </th>
                <td mat-cell class="mat-cell" *matCellDef="let element"> {{element.participant.participant_name}} {{element.participant.participant_first_name}} {{element.participant.participant_last_name}} </td>
              </ng-container>
          
              <!-- participant_location Column -->
              <ng-container matColumnDef="participant_location">
                <th mat-header-cell class="mat-header-cell" *matHeaderCellDef mat-sort-header> Institución / comunidad </th>
                <td mat-cell class="mat-cell" *matCellDef="let element"><p>{{element.participant_attendance_location | fieldEmpty:'datos'}}</p></td>
              </ng-container>

              <!-- participant_email Column -->
              <ng-container matColumnDef="participant_charge">
                <th mat-header-cell class="mat-header-cell" *matHeaderCellDef mat-sort-header> Cargo </th>
                <td mat-cell class="mat-cell" *matCellDef="let element"><p>{{element.charges.charge_name}}</p></td>
              </ng-container>

              <!-- participant_email Column -->
              <ng-container matColumnDef="participant_email">
                <th mat-header-cell class="mat-header-cell" *matHeaderCellDef mat-sort-header> Email </th>
                <td mat-cell class="mat-cell" *matCellDef="let element"><p>{{element.participant.participant_email | fieldEmpty:'email'}}</p></td>
              </ng-container>

              <!-- participant_phone Column -->
              <ng-container matColumnDef="participant_phone">
                <th mat-header-cell class="mat-header-cell" *matHeaderCellDef mat-sort-header> Celular </th>
                <td mat-cell class="mat-cell" *matCellDef="let element"><p>{{element.participant.participant_phone | fieldEmpty:'celular'}}</p></td>
              </ng-container>

              <!-- action Column -->
              <ng-container matColumnDef="action">
                <th mat-header-cell class="mat-header-cell" *matHeaderCellDef mat-sort-header> action </th>
                <td mat-cell class="mat-cell" *matCellDef="let element">
                  <button mat-icon-button 
                          matTooltip="Editar asistente"
                          (click)="openDialogEditParticipant(element)"
                          class="btn-color">
                    <mat-icon>edit</mat-icon>
                  </button>
                  <button mat-icon-button 
                          matTooltip="Eliminar asistente"
                          (click)="openDialogDelete(element)"
                          color="warn">
                    <mat-icon>delete</mat-icon>
                  </button>
                </td>
              </ng-container>
            
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
            </table>
    
            <div *ngIf="_loadding.getLoadding() && dataSource.data?.length===0">
              <app-spinner-loadding></app-spinner-loadding>
            </div>
            <div *ngIf="!_loadding.getLoadding() && length===0">
              <app-message-table [msg]="msg"></app-message-table>
            </div>
            
            <mat-paginator  [length]="length"
                            [pageSize]="10"
                            [pageIndex]="pageIndex - 1"
                            (page)="pageEvent($event)"
                            aria-label="Select page"></mat-paginator>

          </mat-card-content>
      </mat-card>
    </div>
  </div>