<div class="main-page-index">
    <app-navbar></app-navbar>
    <div class="main-content flex">
        <div class="col-6">
            <h1 class="title-section">
                We love to create practical, creative, and more systems
            </h1>
            <p class="description-section">Our event management system simplifies organization by allowing you to register events, enroll participants, and easily generate attendee lists in PDF format. With an intuitive interface and efficient features, it streamlines your work and ensures successful events at every step.</p>
            <button mat-raised-button color="warn" class="btn-primary" routerLink="/auth/login">Iniciar sesión</button>
        </div>
        <div class="col-6">
            <img src="assets/images/computer-background.png" alt="">
        </div>
    </div>
</div>