<mat-form-field class="full-width mt-1" appearance="outline">
    <mat-icon matSuffix class="text-color-primary" *ngIf="!word; else iconClear">search</mat-icon>
    <ng-template #iconClear>
        <button mat-icon-button (click)="clear()"><mat-icon matSuffix>close</mat-icon></button>
    </ng-template>
    <input id="search"
            name="search" 
            matInput 
            type="search" 
            [placeholder]="placeholder"
            autocomplete="off"
            [(ngModel)]="word"
            (ngModelChange)="modelChange($event)"
            name="search">
</mat-form-field>