<div class="container" fxLayout="row" fxLayoutAlign="center none">
  <div fxFlex="98%">
    <div class="grid">
      <div class="col-12">
        <mat-card>
          <div class="flex justify-content-between">
            <div>
              <h2>Dashboard</h2>
            </div>
            <div class="flex justify-content-center align-items-center">
              <button mat-icon-button (click)="dialogSearch()">
                <mat-icon>search</mat-icon>
              </button>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
    <div class="grid nested-grid">
      <div class="col-6">
        <mat-card>
          <p>Cantidad de participantes por cargo</p>
          <app-horizontal-bar-chart [data]="dataHorizonBarChart"></app-horizontal-bar-chart>
        </mat-card>
      </div>
      <div class="col-6">
        <mat-card>
          <p>Cantidad de hombres y mujeres</p>
          <app-pie-chart [data]="dataPieChart"></app-pie-chart>
        </mat-card> 
      </div>
    </div>
    <div class="grid">
      <div class="col-12">
        <mat-card>
          <p>N° de proyectos por año</p>
          <app-vertical-bar-chart [data]="dataVerticalBarChart"></app-vertical-bar-chart>
        </mat-card>
      </div>
    </div>
  </div>
</div>