<form [formGroup]="formFacilitator" method="post">
    <h2 class="m-0 mb-1">{{isUpdate?'Actualizar datos del facilitador':'Registro del facilitador'}}</h2>
    <div class="grid">
        <div class="col-10">
            <mat-form-field class="full-width mt-1" appearance="outline">
                <mat-label>DNI</mat-label>
                <input matInput type="text" formControlName="id_card_facilitator" maxlength="8">
                <mat-icon matSuffix>id_card</mat-icon>
                <mat-error *ngIf="id_card_facilitator.hasError('pattern') && !id_card_facilitator.hasError('required')"
                            class="p-error">Digite un DNI <strong>válido</strong></mat-error>
                <mat-error *ngIf="id_card_facilitator.hasError('maxlength')"
                            class="p-error">El tamaño del DNI tiene que tener como máximo <strong>8  caracteres</strong></mat-error>
                <mat-error *ngIf="id_card_facilitator.hasError('minlength')"
                            class="p-error">El tamaño del DNI tiene que tener como mínimo <strong>8  caracteres</strong></mat-error>
                <mat-error *ngIf="id_card_facilitator.hasError('required') && id_card_facilitator.touched"
                            class="p-error">El campo DNI <strong>requerido</strong></mat-error>
            </mat-form-field>
        </div>
        <div class="col-2 grid justify-content-center align-items-center">
            <button mat-mini-fab
                    color="primary"
                    (click)="queryAPI()"
                    [disabled]="_loadding.getLoadding()"
                    type="button"><mat-icon>search</mat-icon></button>
        </div>
    </div>
    <mat-form-field class="full-width" appearance="outline">
        <mat-label>Nombres</mat-label>
        <input matInput type="text" formControlName="facilitator_name" maxlength="25">
        <mat-icon matSuffix>id_card</mat-icon>
        <mat-error *ngIf="facilitator_name.hasError('pattern') && !facilitator_name.hasError('required')"
                    class="p-error">Digite un nombre <strong>válido</strong></mat-error>
        <mat-error *ngIf="facilitator_name.hasError('maxlength')"
                    class="p-error">El nombre debe ser como máximo de <strong>20  caracteres</strong></mat-error>
        <mat-error *ngIf="facilitator_name.hasError('required') && facilitator_name.touched"
                    class="p-error">El campo nombre es <strong>requerido</strong></mat-error>
    </mat-form-field>
    <div class="formgrid grid">
        <div class="field col m-0">
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Apellido paterno</mat-label>
                <input matInput type="text" formControlName="facilitator_first_name" maxlength="25">
                <mat-icon matSuffix>id_card</mat-icon>
                <mat-error *ngIf="facilitator_first_name.hasError('pattern') && !facilitator_first_name.hasError('required')"
                            class="p-error">Digite un nombre <strong>válido</strong></mat-error>
                <mat-error *ngIf="facilitator_first_name.hasError('maxlength')"
                            class="p-error">El nombre debe ser como máximo de <strong>20  caracteres</strong></mat-error>
                <mat-error *ngIf="facilitator_first_name.hasError('required') && facilitator_first_name.touched"
                            class="p-error">El campo nombre es <strong>requerido</strong></mat-error>
            </mat-form-field>
        </div>
        <div class="field col m-0">
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Apellido materno</mat-label>
                <input matInput type="text" formControlName="facilitator_last_name" maxlength="25">
                <mat-icon matSuffix>id_card</mat-icon>
                <mat-error *ngIf="facilitator_last_name.hasError('pattern') && !facilitator_last_name.hasError('required')"
                            class="p-error">Digite un nombre <strong>válido</strong></mat-error>
                <mat-error *ngIf="facilitator_last_name.hasError('maxlength')"
                            class="p-error">El nombre debe ser como máximo de <strong>20  caracteres</strong></mat-error>
                <mat-error *ngIf="facilitator_last_name.hasError('required') && facilitator_last_name.touched"
                            class="p-error">El campo nombre es <strong>requerido</strong></mat-error>
            </mat-form-field>
        </div>
    </div>
    <mat-form-field class="full-width" appearance="outline">
        <mat-label>Cargo</mat-label>
        <input matInput type="text" formControlName="facilitator_charge" maxlength="25">
        <mat-icon matSuffix>id_card</mat-icon>
        <mat-error *ngIf="facilitator_charge.hasError('pattern') && !facilitator_charge.hasError('required')"
                    class="p-error">Digite un nombre <strong>válido</strong></mat-error>
        <mat-error *ngIf="facilitator_charge.hasError('maxlength')"
                    class="p-error">El nombre debe ser como máximo de <strong>20  caracteres</strong></mat-error>
        <mat-error *ngIf="facilitator_charge.hasError('required') && facilitator_charge.touched"
                    class="p-error">El campo nombre es <strong>requerido</strong></mat-error>
    </mat-form-field>
    <mat-form-field class="full-width" appearance="outline">
        <mat-label>Profesión</mat-label>
        <input matInput type="text" formControlName="facilitator_profesion" maxlength="25">
        <mat-icon matSuffix>id_card</mat-icon>
        <mat-error *ngIf="facilitator_profesion.hasError('pattern') && !facilitator_profesion.hasError('required')"
                    class="p-error">Digite un nombre <strong>válido</strong></mat-error>
        <mat-error *ngIf="facilitator_profesion.hasError('maxlength')"
                    class="p-error">El nombre debe ser como máximo de <strong>20  caracteres</strong></mat-error>
        <mat-error *ngIf="facilitator_profesion.hasError('required') && facilitator_profesion.touched"
                    class="p-error">El campo nombre es <strong>requerido</strong></mat-error>
    </mat-form-field>
    <div class="mt-1">
        <button mat-raised-button
                class="btn-primary" 
                type="button"
                [disabled]="_loadding.getLoadding()"
                (click)="save()">{{isUpdate?'Guardar cambios':'Registrar'}}</button>
        <button mat-button 
                [disabled]="_loadding.getLoadding()"
                class="ml-1" 
                mat-dialog-close>Cancelar</button>
    </div>
</form>