@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import 'ngx-toastr/toastr';

:root{
  --background-color-a:#2A3447;
  --background-color-b:#333C50;
  --menu-color:#7B8EAA;
  --border-color:#444D5D;
  --header-color:#ababab;
  --btn-color:#E78B6F;
  --btn-secondary-color:#03C9D7;
  --color-secondary:#0DC2CA;
  --color-primay:#E78B6F;
  --white-color:#d4d4d4;
  --border-radius:16px;
}

html{
  background: var(--background-color-b) ;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
}
.text-color-primary{
  color: var(--color-primay) !important;
}
.text-color-secondary{
  color: var(--color-secondary) !important;
}
.d-flex{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15px;
}
.m-1{
  margin: 0.3rem;
}
.mt-1{
  margin-top: 0.3rem;
}
.mt-2{
  margin-top: 1rem;
}
.mt-3{
  margin-top: 1.5rem;
}
.ml-1{
  margin-left: 0.3rem;
}
.mr-1{
  margin-right: 0.3rem;
}
.mb-1{
  margin-bottom: 0.3rem;
}
.mb-2{
  margin-bottom: 0.6rem;
}
.m-0{
  margin: 0;
}
.p-0{
  padding: 0;
}
.mb-1{
  margin-bottom: 0.5rem;
}

.full-width {
  width: 100%;
}
.chip-1{
  background: rgba(150, 239, 150, 0.415);
}
.chip-2{
  background: rgba(252, 110, 110, 0.452);
}
.chip-1, .chip-2{
  font-size: 10px;
  border-radius: 20px;
  padding: 5px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
}
.container {
  margin-top: 10px;
  margin-bottom: 10px;
  background: var(--background-color-b);
  color: var(--white-color) !important;
}

.spinner {
  left: 49%;
  position: fixed !important;
  top: 15%;
  z-index: 9999;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.login-container {
  height: 80vh;
}

.login-actions {
  margin-left: unset !important;
}

.mat-list-item,
.mat-menu-item {
  font-size: 14px !important;
}

.command-wrapper button {
  margin-left: 10px;
  margin-bottom: 5px;
}

.mat-dialog-title {
  margin: 0 !important;
}

.mat-column-actions {
  flex: 0 0 60px;
}

.mat-table .mat-row:hover {
  background-color: rgba(0, 0, 0, 0.075);
}

.mat-table td.mat-cell a:hover {
  text-decoration: underline;
}

.mat-table td.mat-cell:first-child,
.mat-table td.mat-footer-cell:first-child,
.mat-table th.mat-header-cell:first-child {
  padding-left: 20px !important;
}

.mat-table td.mat-cell:last-child,
.mat-table td.mat-footer-cell:last-child,
.mat-table th.mat-header-cell:last-child {
  padding-right: 10px !important;
}

.mat-table .mat-cell a {
  color: inherit;
  text-decoration: none;
}

.no-records {
  padding-top: 20px;
  padding-bottom: 20px;
}

.refresh-button {
  margin-top: 8px !important;
}

.no-records .mat-icon {
  width: 130px;
  height: 130px;
  font-size: 130px;
  color: #c7c7c7;
}

p .mat-icon {
  vertical-align: middle;
}

.mat-slide-toggle.full-width {
  margin-top: 15px;
  margin-bottom: 15px;
}

.mat-tooltip {
  font-size: 14px;
}

.fixed-fab {
  position: fixed !important;
  right: 2%;
  bottom: 3%;
}

.content-chart{
  height: auto;
  width: 100% !important;
  display: flex !important;
}
.container-cui{
  background: rgba(8, 163, 220, 0.78);
  padding: 3px 10px 3px 10px;
  border-radius: 20px;
  width: auto;
}
.mat-list-option{
  color: #FFF !important;
}
.mat-list-option:hover{
  background: #444D5D;
}
/* Highlight on hover */
.submitted-timesheet-day:not(.mat-calendar-body-disabled):hover>.mat-calendar-body-cell-content:not(.mat-calendar-body-selected),
/* Highlight */
.submitted-timesheet-day>div:not(.mat-calendar-body-selected) {
  border-radius: 999px;
  background-color: rgba(14, 152, 5, 0.25);
}

.table-wrapper {
  overflow: auto;
  height: calc(100vh - 270px);
  max-height: 450px;
  /* padding: 10px 5px; */
}

.animate {
  animation-name: show;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.spacer-flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mat-form-field-appearance-outline .mat-form-field-outline {
  color: rgb(125, 125, 125);
}
.btn-color{
  color: var(--btn-color);
}
.btn-primary{
  background-color: var(--btn-color);
  color: var(--white-color);
}
.btn-secondary{
  background-color: var(--btn-secondary-color) !important;
  color: var(--white-color) !important;
}
mat-card, mat-paginator, .mat-table{
  background-color: var(--background-color-a) !important;
  color: var(--white-color) !important;
  border-radius: var(--border-radius) !important;
}
.mat-header-cell{
  color: var(--header-color);
}
.mat-cell{
  /* max-width: 200px;  */
  word-wrap: break-word; /* Permite que el texto se envuelva */
}
mat-paginator, .mat-cell{
  color: var(--menu-color) !important;
}

/* Dialog class*/
.dialog-class .mat-dialog-container{
  background-color: var(--background-color-b) !important;
  color: var(--white-color) !important;
  border-radius: var(--border-radius) !important;
}
.dialog-class-b .mat-dialog-container{
  background-color: var(--background-color-a) !important;
  color: var(--white-color) !important;
  border-radius: var(--border-radius) !important;
}

/* change color form field*/
.mat-form-field-label {
  color: var(--menu-color) !important;
}
/* table styles*/
table {
  width: 100%;
}
/* conatiner flex*/
.container-flex{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.input-date{
  padding: 0px !important;
  margin: 0px;
}
/*Text rorate*/
.text-rotate{
  rotate: 300deg;
}
@keyframes show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
