@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import 'ngx-toastr/toastr';

/* Light mode */
:root{
  --background-color-a:#F6F6F6;
  --background-color-b:#FFFF;
  --menu-color:#5a5a5a;
  --border-color:#bebebe;
  --header-color:#ababab;
  --btn-color:#0caf71;
  --color-primay:#0caf71;
  --btn-secondary-color:#2828289f;
  --color-secondary:#2828289f;
  --white-color:#ffffff;
  --border-radius:10px;
  --black-color:#0000;
}
.light-mode {
  --background-color-a:#F6F6F6;
  --background-color-b:#FFFF;
  --menu-color:#5a5a5a;
  --border-color:#bebebe;
  --header-color:#ababab;
  --btn-color:#0caf71;
  --color-primay:#0caf71;
  --btn-secondary-color:#2828289f;
  --color-secondary:#2828289f;
  --white-color:#ffffff;
  --border-radius:10px;
  --black-color:#0000;
  --color-label-char: #000;
}

/* Dark mode */
.dark-mode {
  --background-color-a:#040B00;
  --background-color-b:#061200;
  --menu-color:#8f8f8f;
  --border-color:#060D03;
  --header-color:#ababab;
  --btn-color:#4288227b;
  --color-primay:#4288227b;
  --btn-secondary-color:#2828289f;
  --color-secondary:#afafaf9f;
  --white-color:#969696;
  --border-radius:10px;
  --black-color:#f0f0f000;
  --color-label-char: #757575;
}

.ngx-charts, text { fill: var(--color-label-char) }

html{
  background: var(--background-color-b) ;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
}
.text-color-primary{
  color: var(--color-primay) !important;
}
.text-color-secondary{
  color: var(--color-secondary) !important;
}
.btn-color{
  color: var(--btn-color);
}
.btn-primary{
  background-color: var(--btn-color) !important;
  color: var(--white-color) !important;
}
.btn-stroked-primary{
  color: var(--btn-color) !important;
  border-radius: 20px !important;
}
.btn-primary:disabled{
  opacity: 0.5;
  cursor: not-allowed !important;
}
.btn-stroked-primary:disabled{
  opacity: 0.5;
  cursor: not-allowed !important;
}
.btn-secondary:disabled{
  opacity: 0.5;
  cursor: not-allowed !important;
}
.btn-stroked-secondary:disabled{
  opacity: 0.5;
  cursor: not-allowed !important;
}
.btn-secondary{
  background-color: var(--btn-secondary-color) !important;
  color: var(--white-color) !important;
}
.btn-stroked-secondary{
  color: var(--btn-secondary-color) !important;
  border-radius: 20px !important;
}
.btn-link-primary{
  color: var(--color-primay);
}
.btn-link-secondary{
  color: var(--color-secondary);
}
.text-plain-secondary{
  color: var(--color-secondary);
}
.text-plain-primary{
  color: var(--color-primay);
}
.d-flex{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15px;
}
.m-1{
  margin: 0.3rem;
}
.mt-1{
  margin-top: 0.3rem;
}
.mt-2{
  margin-top: 1rem;
}
.mt-3{
  margin-top: 1.5rem;
}
.ml-1{
  margin-left: 0.3rem;
}
.mr-1{
  margin-right: 0.3rem;
}
.mb-1{
  margin-bottom: 0.3rem;
}
.mb-2{
  margin-bottom: 0.6rem;
}
.m-0{
  margin: 0;
}
.p-0{
  padding: 0;
}
.mb-1{
  margin-bottom: 0.5rem;
}
.img-logo-sis{
  width: 150px;
  margin: 0 auto;
}
.full-width {
  width: 100%;
}
.chip-1{
  background: rgba(84, 186, 84, 0.879);
}
.chip-2{
  background: rgba(212, 49, 49, 0.879);
}
.chip-1, .chip-2{
  font-size: 10px;
  border-radius: 20px;
  padding: 5px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(249, 249, 249);
}
.container {
  margin-top: 10px;
  margin-bottom: 10px;
  background: var(--background-color-b);
  color: var(--white-color) !important;
}

.spinner {
  left: 49%;
  position: fixed !important;
  top: 15%;
  z-index: 9999;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.login-container {
  height: 80vh;
}

.login-actions {
  margin-left: unset !important;
}

.mat-list-item,
.mat-menu-item {
  font-size: 14px !important;
}

.command-wrapper button {
  margin-left: 10px;
  margin-bottom: 5px;
}

.mat-dialog-title {
  margin: 0 !important;
}

.mat-column-actions {
  flex: 0 0 60px;
}

.mat-table .mat-row:hover {
  background-color: rgba(0, 0, 0, 0.075);
}

.mat-table td.mat-cell a:hover {
  text-decoration: underline;
}

.mat-table td.mat-cell:first-child,
.mat-table td.mat-footer-cell:first-child,
.mat-table th.mat-header-cell:first-child {
  padding-left: 20px !important;
}

.mat-table td.mat-cell:last-child,
.mat-table td.mat-footer-cell:last-child,
.mat-table th.mat-header-cell:last-child {
  padding-right: 10px !important;
}

.mat-progress-bar.custom-mat-progress-bar .mat-progress-bar-fill::after {
  background-color: var(--color-secondary)
}

.mat-table .mat-cell a {
  color: inherit;
  text-decoration: none;
}
.container-title-eea{
  margin: 0 auto;
  width: 200px;
  height: auto;
  text-align: center;
  font-weight: bold;
}
.no-records {
  padding-top: 20px;
  padding-bottom: 20px;
}

.refresh-button {
  margin-top: 8px !important;
}

.no-records .mat-icon {
  width: 130px;
  height: 130px;
  font-size: 130px;
  color: #c7c7c7;
}

p .mat-icon {
  vertical-align: middle;
}

.mat-slide-toggle.full-width {
  margin-top: 15px;
  margin-bottom: 15px;
}

.mat-tooltip {
  font-size: 14px;
}

.fixed-fab {
  position: fixed !important;
  right: 2%;
  bottom: 3%;
}

.content-chart{
  height: auto;
  width: 100% !important;
  display: flex !important;
}

.container-cui{
  background: var(--color-secondary);
  padding: 3px 10px 3px 10px;
  border-radius: 20px;
  width: auto;
  color: var(--white-color);
}
.mat-list-option{
  background: #f0f0f0;
  margin-top: 4px;
  border-radius: 5px;
}
.mat-list-option:hover{
  background: #d8d8d8;
}
/* Highlight on hover */
.submitted-timesheet-day:not(.mat-calendar-body-disabled):hover>.mat-calendar-body-cell-content:not(.mat-calendar-body-selected),
/* Highlight */
.submitted-timesheet-day>div:not(.mat-calendar-body-selected) {
  border-radius: 999px;
  background-color: rgba(14, 152, 5, 0.25);
}

.table-wrapper {
  overflow: auto;
  height: calc(100vh - 270px);
  max-height: 450px;
  /* padding: 10px 5px; */
}
.animate {
  animation-name: show;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.spacer-flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mat-form-field-appearance-outline .mat-form-field-outline {
  color: var(--color-secondary) !important;
}
mat-card, mat-paginator, .mat-table, .mat-expansion-panel{
  background-color: var(--background-color-a) !important;
  color: var(--color-secondary) !important;
  border-radius: var(--border-radius) !important;
}
.mat-header-cell{
  color: var(--header-color);
}
.mat-cell{
  /* max-width: 200px;  */
  word-wrap: break-word; /* Permite que el texto se envuelva */
}
mat-paginator, .mat-cell{
  color: var(--menu-color) !important;
}

/* Dialog class*/
.dialog-class .mat-dialog-container{
  /* c */
  border-radius: var(--border-radius) !important;
}
.dialog-class-delete .mat-dialog-container{
  border-radius: var(--border-radius) !important;
  background: rgb(201, 77, 77) !important;
  color: var(--white-color) !important;
}
.dialog-class-b .mat-dialog-container{
  /* background-color: var(--background-color-a) !important;
  color: var(--black-color) !important; */
  border-radius: var(--border-radius) !important;
}

/* change color form field*/
.mat-form-field-label {
  color: var(--color-secondary) !important;
}
/* table styles*/
table {
  width: 100%;
}
/* conatiner flex*/
.container-flex{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.input-date{
  padding: 0px !important;
  margin: 0px;
}
/*Text rorate*/
.text-rotate{
  rotate: 300deg;
}
.container-list-facilitador{
  width: 100%;
}
.container-list-facilitador ul li{
  list-style: none;
  text-decoration: none;
  margin-top: 4px;
  border-radius: 5px;
  border: 1px solid var(--header-color);
}
.icon-list-facilitator{
  padding: 3px;
  cursor: pointer;
}
.img-evidence{
  width: 400px;
  object-fit: cover;
}
@keyframes show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Styles for mobile  */
@media only screen and (max-width: 767px) {
  /* Estilos aplicados solo a dispositivos con un ancho de pantalla máximo de 767px, que suele ser el caso de la mayoría de los teléfonos celulares en modo vertical */
  .spacer-flex{
    display: flex;
    flex-direction: column;
  }
  .full-width-mobile {
    width: 100%;
  }
  .table-responsive{
    overflow-x: scroll;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /* Estilos aplicados a dispositivos con un ancho de pantalla de 768px a 1023px, que suele ser el caso de algunos teléfonos celulares en modo horizontal o dispositivos con pantallas de tamaño mediano */
}

@media only screen and (min-width: 1024px) {
  /* Estilos aplicados a dispositivos con un ancho de pantalla mínimo de 1024px, que suele ser el caso de tabletas y dispositivos con pantallas más grandes */
}
